@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Variables */

:root {
    --input-bg-color: hsla(188, 77%, 76%, 1);
    --input-bg-dark-color: hsla(188, 59%, 57%, 1);
    --input-border-color: hsla(188, 77%, 76%, 1);
    --input-accent-color: hsla(257, 77%, 76%, 1);
    --quote-font-color: hsla(202, 0%, 19%, 1);
    --copy-border-color: hsla(144, 45%, 57%, 1);
    --card-bg-color: hsla(191, 20%, 99%, 0.8);
}

/* Spacing/Placement */

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

header {
    margin: 2em;
}

main {
    width: 100%;
    margin: 2em;
}

footer {
    margin: 2em;
}

/* TODO: move to backgrounds */
button {
    width: 6rem;
    border: 4px solid hsla(230, 100%, 88%, 1);
    background-image: linear-gradient(to right, hsla(230, 100%, 88%, 1) 50%, white 50%);
    background-size: 220% 100%;
    background-position: 100% 0;
    transition: 0.25s background-position;
}

button:hover {
    color: white;
    background-position: 5%;
}

#default-btn {
    margin-right: 2rem;
}

.copy-btn {
    width: 5rem;
    margin: 1rem;
    color: var(--copy-border-color);
    /* color: hsla(103, 61%, 62%, 1); */
    border: 3px solid var(--copy-border-color);
    background-image: linear-gradient(to right, var(--copy-border-color) 50%, white 50%);
}

input[type=number] {
    width: 3rem;
    -moz-appearance: textfield;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Cool link effect */
/* https://codepen.io/internette/pen/PRzmMZ */
a {
    display: block;
    font-weight: bold;
    /* Gradient with hard lines */
    background-image: linear-gradient(to bottom, white 70%, transparent 70%),
    linear-gradient(to right, hsla(116, 100%, 84%, 1) 33%, hsla(181, 100%, 88%, 1) 33%, hsla(181, 100%, 88%, 1) 66%, hsla(230, 100%, 88%, 1) 66%);
    background-size: 300% 100%;
    background-position: 100% 0;
    transition: 1s background-position;
}

a:hover {
    background-position: 0%;
}

.search-container {
    padding-top: 2em;
    padding-bottom: 2em;
    margin-top: 1em;
    margin-bottom: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.search-container div {
    margin: 0.5em;
}

.search-container-top, .search-container-bottom {
    width: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.search-container-bottom {
    padding-left: 18rem;
}

.quotes-container {
    /* min-width: 400px; */
    /* min-height: 400px; */
    padding: 1rem;
    margin: 0rem;
    width: 100%;
    min-height: 600px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    column-gap: 0.5rem;
    row-gap: 1.25rem;
    justify-items: center;
}

.quote-card {
    padding: 0.25em;
}

/* Text */
body {
    text-align: center;
    font-size: 1.25rem;
}

header {
    font-family: 'Quicksand', sans-serif;
}

header h1 {
    font-size: 3rem;
    font-weight: 600;
}

header h3 {
    font-size: 1.5rem;
    font-weight: 300;
}

input {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

.quote-card {
    font-size: 1rem;
}

/* Borders and background */
main {
    background-image: url("./../assets/background.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 120%;
}

input {
    border: 3px solid var(--input-bg-color);
    border-radius: 10px;
    box-shadow:  0 0 3px hsla(207, 73%, 46%, 0.5);
}

.search-container {
    background-color: hsla(175, 100%, 100%, 0.7);
}

.quote-card {
    min-width: 250px;
    min-height: 250px;
    font-size: 1.15rem;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    border-radius: 5%;
    perspective: 1000px;
}

/* Transitions and Animations */
.quote-card {
    transition: all 0.5s;
}

/* Media queries */


/* Search bar */
.search-bar {
    width: 30rem;
    height: 3rem;
    margin: 0 0.75rem 0 0;
    padding: 0.5rem;
    position: relative;
    display: flex;
    flex-direction: row;
    background-color: var(--input-border-color);
    border-radius: 10px;
    box-shadow:  0 0 3px hsla(207, 73%, 46%, 0.5);
}

.search-bar input {
    width: 30rem;
    margin: 0;
    padding: 0 0 0 0.5rem;
    border: none;
    border-radius: 10px;
}

.search-bar button {
    margin: 0;
    padding: 0;
    width: 30px;
    height: 24px;
    position: absolute;
    top: 0.75rem;
    right: 0.75rem;
    background-image: url("./../assets/search.svg");
    background-size: 24px auto;
    background-repeat: no-repeat;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    transition: all 0.25s;
}

.search-bar button:hover {
    background-image: url("./../assets/arrow-left.svg");
    transform: rotateZ(180deg);
}

/* Dropdown Select */

.select div {
    margin: 0 0;
}

.select-hidden {
    visibility: hidden;
    padding: 0 1rem 0 1rem;
}

.select {
    width: 10rem;
    display: inline-block;
    position: relative;
    background-color: var(--input-bg-color);
    cursor: pointer;
    border: 0.5rem solid var(--input-border-color);
    font-size: 1.25rem;
    text-align: left;
    border-radius: 10px;
}

.select-styled {
    padding-left: 1rem;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: white;
    transition: all 0.2s ease-in;
}

/* Carrot */
.select-styled:after {
    content:"";
    width: 0;
    height: 0;
    border: 7px solid transparent;
    border-color: var(--input-accent-color) transparent transparent transparent;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
}

.select-styled:hover {
    background-color: var(--input-bg-dark-color);
}

.select-styled:active, .select-styled.active {
    background-color: var(--input-bg-dark-color);
}

/* Flip mock chevron/triangle */
.select-styled:active:after, .select-styled.active:after {
    top: 0.25rem;
    border-color: transparent transparent var(--input-accent-color) transparent;
}

.select-options {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    z-index: 999;
    margin: 0 0;
    padding: 0 0;
    list-style: none;
    background-color: var(--input-bg-dark-color);
    transition: all 0.25 ease;
}

.select-options li {
    margin: 0 0;
    padding: 12px 0;
    text-indent: 15px;
    border-top: 1px solid var(--input-bg-color);
}

.select-options li:hover {
    color: white;
    background: var(--input-accent-color);
}

/* Card */

/* Card borders should be in .card-front and .card-back, or else overlap will occur */
.card {
    width: 100%;
    height: 100%;
    position: absolute;
    text-align: center;
    color: black;
    border-radius: 5%;

    /* Animation */
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: 0.5s;
}

.card-flip {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

.card-front, .card-back {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    /* Text */
    color: black;
    text-align: center;
    /* Border/background */
    background-color: var(--card-bg-color);
    border-radius: 5%;
    box-shadow: 5px 10px 5px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.card-front div, .card-back div {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.card-back div {
    flex-direction: column;
    align-items: center;
}

.card-front p, .card-back p {
    color: var(--quote-font-color);
    padding: 1rem;
}

.card-back p {
    padding: 0.5rem;
}

p.source {
    font-style: italic;
}

.card-front {
    color: black;
}

.card-back {
    transform: rotateY(180deg);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    -o-transform: rotateY(180deg);
    -ms-transform: rotateY(180deg);
}

/* Scroll bar for card */
.card-front, .card-back {
    /* Scroll bar */
    overflow: auto;
    scrollbar-width: thin;
}

.card-front::-webkit-scrollbar, .card-back::-webkit-scrollbar {
    width: 12px;
}

.card-front::-webkit-scrollbar-thumb, .card-back::-webkit-scrollbar-thumb {
    border-radius: 20px;
}

/* Input Number */
.input-number {
    display: flex;
    flex-direction: row;
    align-items: center;
    /* border: 2px solid black; */
}

.input-number-plus-btn, .input-number-minus-btn {
    width: 28px;
    height: 28px;
    margin: 0;
    padding: 0;
    border: none;
    background-position: center;
}

.input-number-plus-btn {
    margin-left: 2px;
    background-image: url("./../assets/plus-circle.svg");
}

.input-number-minus-btn {
    margin-right: 2px;
    background-image: url("./../assets/minus-circle.svg");
}

.input-number-plus-btn:hover, .input-number-minus-btn:hover {
    border: none;
    background-position: center;
}

.input-number-plus-btn:hover {
    background-image: url("./../assets/plus-circle-filled.svg");
}

.input-number-minus-btn:hover {
    background-image: url("./../assets/mins-circle-filled.svg");
}
